@page
@{
    ViewData["Title"] = "Jogo";
}

    <div class="d-flex flex-row">
        <div class="w-25" id="div-usuarios">
            <div class="row pl-2 pr-2">
                <div class="input-group">
                    <input class="form-control" type="text" id="userName" placeholder="Nome de usuário" />
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-info" onclick="entrarUsuario()" disabled id="entrarUsuario">Entrar</button>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <h5>Usuários Online</h5>
            </div>
            <div class="row">
                <button class="btn btn-sm btn-danger" onclick="spamAll()">Notificar Todos</button>
                <button class="btn btn-sm btn-warning" onclick="spamOthers()">Notificar</button>
            </div>

            <div class="row mt-4">
                <ul id="listaUsuarios">
                </ul>
            </div>
        </div>

        <div class="w-25 pl-4" id="div-salas">
            <h5>Salas</h5>
            <div class="card border-success">
                <div class="card-body border-success">
                    <h5>Sala 1</h5>
                    <p class="card-text">Jogadores</p>
                    <ol id="sala1-jogadores">
                    </ol>
                </div>
            </div>
            <div class="card-footer border-success">
                <a href="#" onclick="entrarSala(1)" class="card-link">Entrar</a>
                <a href="#" onclick="spamGroup(1)" class="card-link">Notificar</a>
            </div>

            <div class="card border-success">
                <div class="card-body border-success">
                    <h5>Sala 2</h5>
                    <p class="card-text">Jogadores</p>
                    <ol id="sala2-jogadores">
                    </ol>
                </div>
            </div>
            <div class="card-footer border-success">
                <a href="#" onclick="entrarSala(2)" class="card-link">Entrar</a>
                <a href="#" onclick="spamGroup(2)" class="card-link">Notificar</a>
            </div>

            <div class="card border-success">
                <div class="card-body border-success">
                    <h5>Sala 3</h5>
                    <p class="card-text">Jogadores</p>
                    <ol id="sala3-jogadores">
                    </ol>
                </div>
            </div>
            <div class="card-footer border-success">
                <a href="#" onclick="entrarSala(3)" class="card-link">Entrar</a>
                <a href="#" onclick="spamGroup(3)" class="card-link">Notificar</a>
            </div>
        </div>

        <div class="w-50 pl-4" id="div-jogo" style="visibility:hidden">
            <h5>Jogo</h5>
            <div class="row">
                <div class="col-6">
                    <p id="jogador1">Jogador X: Aguardando...</p>
                </div>
                <div class="col-2">
                    <button class="btn btn-sm btn-secondary" onclick="reiniciarJogo()">Reiniciar</button>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <p id="jogador2">Jogador O: Aguardando...</p>
                </div>
                <div class="col-2">
                    <button class="btn btn-sm btn-secondary" onclick="adicionarBot()">Adicionar Bot</button>
                </div>
            </div>
            <div class="row">
                <div class="casa border border-success" id="casa1" onclick="opcaoJogada(1)">

                </div>
                <div class="casa border border-success" id="casa2" onclick="opcaoJogada(2)">

                </div>
                <div class="casa border border-success" id="casa3" onclick="opcaoJogada(3)">

                </div>
            </div>
            <div class="row">
                <div class="casa border border-success" id="casa4" onclick="opcaoJogada(4)">

                </div>
                <div class="casa border border-success" id="casa5" onclick="opcaoJogada(5)">

                </div>
                <div class="casa border border-success" id="casa6" onclick="opcaoJogada(6)">

                </div>
            </div>
            <div class="row">
                <div class="casa border border-success" id="casa7" onclick="opcaoJogada(7)">

                </div>
                <div class="casa border border-success" id="casa8" onclick="opcaoJogada(8)">

                </div>
                <div class="casa border border-success" id="casa9" onclick="opcaoJogada(9)">

                </div>
            </div>
        </div>

    </div>

    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/principal.js"></script>
